In [31]:
# Import package dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from ml_metrics import rmse
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
from sklearn import preprocessing

In [32]:
dt = pd.read_csv('./data/train.csv')
du= pd.read_csv('./data/unique_m.csv')

In [33]:
print(dt.shape)
dt.head()

(21263, 82)

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence,critical_temp
0,4,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,...,2.257143,2.213364,2.219783,1.368922,1.066221,1,1.085714,0.433013,0.437059,29.0
1,5,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,...,2.257143,1.888175,2.210679,1.557113,1.047221,2,1.128571,0.632456,0.468606,26.0
2,4,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,...,2.271429,2.213364,2.232679,1.368922,1.029175,1,1.114286,0.433013,0.444697,19.0
3,4,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,...,2.264286,2.213364,2.226222,1.368922,1.048834,1,1.100000,0.433013,0.440952,22.0
4,4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,...,2.242857,2.213364,2.206963,1.368922,1.096052,1,1.057143,0.433013,0.428809,23.0

In [34]:
p = dt.describe()
p

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence,critical_temp
count,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,...,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000
mean,4.115224,87.557631,72.988310,71.290627,58.539916,1.165608,1.063884,115.601251,33.225218,44.391893,...,3.153127,3.056536,3.055885,1.295682,1.052841,2.041010,1.483007,0.839342,0.673987,34.421219
std,1.439295,29.676497,33.490406,31.030272,36.651067,0.364930,0.401423,54.626887,26.967752,20.035430,...,1.191249,1.046257,1.174815,0.393155,0.380291,1.242345,0.978176,0.484676,0.455580,34.254362
min,1.000000,6.941000,6.423452,5.320573,1.960849,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000210
25%,3.000000,72.458076,52.143839,58.041225,35.248990,0.966676,0.775363,78.512902,16.824174,32.890369,...,2.116732,2.279705,2.091251,1.060857,0.775678,1.000000,0.921454,0.451754,0.306892,5.365000
50%,4.000000,84.922750,60.696571,66.361592,39.918385,1.199541,1.146783,122.906070,26.636008,45.123500,...,2.618182,2.615321,2.434057,1.368922,1.166532,2.000000,1.063077,0.800000,0.500000,20.000000
75%,5.000000,100.404410,86.103540,78.116681,73.113234,1.444537,1.359418,154.119320,38.356908,59.322812,...,4.026201,3.727919,3.914868,1.589027,1.330801,3.000000,1.918400,1.200000,1.020436,63.000000
max,9.000000,208.980400,208.980400,208.980400,208.980400,1.983797,1.958203,207.972460,205.589910,101.019700,...,7.000000,7.000000,7.000000,2.141963,1.949739,6.000000,6.992200,3.000000,3.000000,185.000000

In [35]:
for i in dt.columns:
    print (p.loc["count", i])

21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0

In [36]:
del du['critical_temp']
print(du.shape)
du.head()

(21263, 87)

,H,He,Li,Be,B,C,N,O,F,Ne,...,Pt,Au,Hg,Tl,Pb,Bi,Po,At,Rn,material
0,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.2La1.8Cu1O4
1,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.1La1.9Ag0.1Cu0.9O4
2,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.1La1.9Cu1O4
3,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.15La1.85Cu1O4
4,0.0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.3La1.7Cu1O4

In [37]:
f= du.iloc[:, 0:85]

In [38]:
d = f.describe()
d

,H,He,Li,Be,B,C,N,O,F,Ne,...,Os,Ir,Pt,Au,Hg,Tl,Pb,Bi,Po,At
count,21263.000000,21263.0,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.0,...,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.0,21263.0
mean,0.017685,0.0,0.012125,0.034638,0.142594,0.384968,0.013284,3.009129,0.014874,0.0,...,0.022512,0.061558,0.034108,0.020535,0.036663,0.047954,0.042461,0.201009,0.0,0.0
std,0.267220,0.0,0.129552,0.848541,1.044486,4.408032,0.150427,3.811649,0.132119,0.0,...,0.282265,0.864859,0.307888,0.717975,0.205846,0.272298,0.274365,0.655927,0.0,0.0
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,6.800000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
max,14.000000,0.0,3.000000,40.000000,105.000000,120.000000,12.800000,66.000000,4.000000,0.0,...,10.000000,45.000000,5.800000,64.000000,8.000000,7.000000,19.000000,14.000000,0.0,0.0

In [39]:
for i in f.columns:
    print (d.loc["count", i])

21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0
21263.0

In [40]:
# Merge two Dataframes on index of both the dataframes
mergedDf = dt.merge(du, left_index=True, right_index=True)

In [41]:
print(mergedDf.shape)
mergedDf.head()

(21263, 169)

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,Pt,Au,Hg,Tl,Pb,Bi,Po,At,Rn,material
0,4,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.2La1.8Cu1O4
1,5,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.1La1.9Ag0.1Cu0.9O4
2,4,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.1La1.9Cu1O4
3,4,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.15La1.85Cu1O4
4,4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,Ba0.3La1.7Cu1O4

In [42]:
mergedDf.describe()

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,Ir,Pt,Au,Hg,Tl,Pb,Bi,Po,At,Rn
count,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,...,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.000000,21263.0,21263.0,21263.0
mean,4.115224,87.557631,72.988310,71.290627,58.539916,1.165608,1.063884,115.601251,33.225218,44.391893,...,0.061558,0.034108,0.020535,0.036663,0.047954,0.042461,0.201009,0.0,0.0,0.0
std,1.439295,29.676497,33.490406,31.030272,36.651067,0.364930,0.401423,54.626887,26.967752,20.035430,...,0.864859,0.307888,0.717975,0.205846,0.272298,0.274365,0.655927,0.0,0.0,0.0
min,1.000000,6.941000,6.423452,5.320573,1.960849,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,3.000000,72.458076,52.143839,58.041225,35.248990,0.966676,0.775363,78.512902,16.824174,32.890369,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,4.000000,84.922750,60.696571,66.361592,39.918385,1.199541,1.146783,122.906070,26.636008,45.123500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
75%,5.000000,100.404410,86.103540,78.116681,73.113234,1.444537,1.359418,154.119320,38.356908,59.322812,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
max,9.000000,208.980400,208.980400,208.980400,208.980400,1.983797,1.958203,207.972460,205.589910,101.019700,...,45.000000,5.800000,64.000000,8.000000,7.000000,19.000000,14.000000,0.0,0.0,0.0

In [43]:
mergedDf.dtypes

number_of_elements         int64
mean_atomic_mass         float64
wtd_mean_atomic_mass     float64
gmean_atomic_mass        float64
wtd_gmean_atomic_mass    float64
                          ...
Bi                       float64
Po                         int64
At                         int64
Rn                         int64
material                  object
Length: 169, dtype: object

In [70]:
profile = ProfileReport(mergedDf, minimal=True)
profile.to_file(output_file="output.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=178.0, style=ProgressStyle(descriâ€¦

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(â€¦

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

# Response

In [44]:
response= mergedDf["critical_temp"]
del mergedDf['critical_temp']

# Normalization of the data

In [47]:
sc= mergedDf.iloc[:, 0:167]
x = sc.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalize_df = pd.DataFrame(x_scaled)
normalize_df["material"]= mergedDf["material"]
normalize_df

,0,1,2,3,4,5,6,7,8,9,...,158,159,160,161,162,163,164,165,166,material
0,0.375,0.405879,0.253950,0.299720,0.164988,0.595724,0.542536,0.590973,0.154652,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.2La1.8Cu1O4
1,0.500,0.424611,0.257187,0.332968,0.166341,0.730573,0.540166,0.590973,0.175894,0.466193,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.1La1.9Ag0.1Cu0.9O4
2,0.375,0.405879,0.254061,0.299720,0.165017,0.595724,0.498406,0.590973,0.173847,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.1La1.9Cu1O4
3,0.375,0.405879,0.254005,0.299720,0.165002,0.595724,0.522056,0.590973,0.164249,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.15La1.85Cu1O4
4,0.375,0.405879,0.253838,0.299720,0.164960,0.595724,0.576663,0.590973,0.135458,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.3La1.7Cu1O4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21258,0.375,0.495037,0.230416,0.379038,0.198893,0.593380,0.640444,0.706254,0.075415,0.651003,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Tm0.84Lu0.16Fe3Si5
21259,0.500,0.422322,0.210301,0.292115,0.149295,0.667047,0.802588,0.905812,0.035767,0.685338,...,0.0,0.0,0.0,0.142857,0.0,0.0,0.0,0.0,0.0,Tl1Ba2Ca3Cu4O11
21260,0.125,0.458931,0.440299,0.462110,0.451665,0.348245,0.270757,0.064978,0.257995,0.066886,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Nb0.8Pd0.2
21261,0.125,0.458931,0.447638,0.462110,0.458605,0.348245,0.327281,0.064978,0.151346,0.066886,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Nb0.69Pd0.31
21262,0.250,0.398572,0.397098,0.379236,0.379181,0.524887,0.457169,0.345022,0.209855,0.296034,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Fe1Se0.2Te0.8

In [48]:
normalize_df.columns= mergedDf.columns
normalize_df

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,Pt,Au,Hg,Tl,Pb,Bi,Po,At,Rn,material
0,0.375,0.405879,0.253950,0.299720,0.164988,0.595724,0.542536,0.590973,0.154652,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.2La1.8Cu1O4
1,0.500,0.424611,0.257187,0.332968,0.166341,0.730573,0.540166,0.590973,0.175894,0.466193,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.1La1.9Ag0.1Cu0.9O4
2,0.375,0.405879,0.254061,0.299720,0.165017,0.595724,0.498406,0.590973,0.173847,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.1La1.9Cu1O4
3,0.375,0.405879,0.254005,0.299720,0.165002,0.595724,0.522056,0.590973,0.164249,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.15La1.85Cu1O4
4,0.375,0.405879,0.253838,0.299720,0.164960,0.595724,0.576663,0.590973,0.135458,0.514443,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Ba0.3La1.7Cu1O4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21258,0.375,0.495037,0.230416,0.379038,0.198893,0.593380,0.640444,0.706254,0.075415,0.651003,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Tm0.84Lu0.16Fe3Si5
21259,0.500,0.422322,0.210301,0.292115,0.149295,0.667047,0.802588,0.905812,0.035767,0.685338,...,0.0,0.0,0.0,0.142857,0.0,0.0,0.0,0.0,0.0,Tl1Ba2Ca3Cu4O11
21260,0.125,0.458931,0.440299,0.462110,0.451665,0.348245,0.270757,0.064978,0.257995,0.066886,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Nb0.8Pd0.2
21261,0.125,0.458931,0.447638,0.462110,0.458605,0.348245,0.327281,0.064978,0.151346,0.066886,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Nb0.69Pd0.31
21262,0.250,0.398572,0.397098,0.379236,0.379181,0.524887,0.457169,0.345022,0.209855,0.296034,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,Fe1Se0.2Te0.8